<p-toast position="top-center" key="tc"></p-toast>
<!-- contact form -->

<p-breadcrumb [model]="iSubMenuHtml" [home]="home"></p-breadcrumb>

<div class="card myBg2 myCard p-mt-12"> 
  <form autocomplete="off">
    <h1 class="text-color" style="margin-top: 0;">{{titleHtml}}</h1>

    <div class="p-fluid p-formgrid p-grid text-color">
        <div class="p-field p-col">
          <label for="firstname2">Consejero</label>
          <input [(ngModel)]="counselorName" name="counselorName" 
                 type="text" pInputText readonly style="background-color: #d9d8d9;" > 
        </div>
        <div class="p-field p-col">
          <label for="">Participantes</label>
          <p-dropdown [options]="participants" optionLabel="fullName" 
                      [(ngModel)]="contact.participant" name="participant" 
                      placeholder="Seleccione un Participante" 
                      [ngClass]="!isFieldValidParticipants ? '':'ng-invalid ng-dirty'" 
                      [showClear]="true"
                      dataKey="value" ></p-dropdown>
          <small *ngIf="isFieldValidParticipants" class="p-error block">Información requerida.</small>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid text-color" >
        <div class="p-field p-col">
          <label for="Email">Fecha de Contacto</label>
          <input [(ngModel)]="contact.createdOn" name="contactDate" type="date" pInputText
                 [ngClass]="!isFieldValidFechaContacto ? '':'ng-invalid ng-dirty'" >
          <small *ngIf="isFieldValidFechaContacto" class="p-error block">Información requerida.</small>
        </div>
        <div class="p-field p-col text-color">
          <label for="">Tipo de Contacto</label>
          <p-dropdown [options]="contactTypes" optionLabel="description" 
                      [(ngModel)]="contact.contactType" name="contactType" 
                      placeholder="Seleccione un Contacto"
                      [ngClass]="!isFieldValidTipoContacto ? '':'ng-invalid ng-dirty'" 
                      [showClear]="true"
                      dataKey="value"></p-dropdown>
          <small *ngIf="isFieldValidTipoContacto" class="p-error block">Información requerida.</small>
        </div>  
    </div>
    <div class="p-fluid p-formgrid p-grid text-color">
      <div class="p-field p-col">
        <label for="startTime">Hora Inicio</label>
        <p-calendar [showTime]="true" [timeOnly]="true" hourFormat="12" 
                    placeholder="--:--"
                    [ngClass]="!isFieldValidHoraInicio ? '':'ng-invalid ng-dirty'" 
                    [(ngModel)]="contact.startDate" name="startDate"></p-calendar>
        <small *ngIf="isFieldValidHoraInicio" class="p-error block">Información requerida.</small>
      </div>
      <div class="p-field p-col text-color">
        <label for="startEnd">Hora Fin</label>
        <p-calendar [showTime]="true" [timeOnly]="true" hourFormat="12" 
                    placeholder="--:--" 
                    [ngClass]="!isFieldValidHoraFin ? '':'ng-invalid ng-dirty'" 
                    [(ngModel)]="contact.endDate" name="endDate"></p-calendar>
        <small *ngIf="isFieldValidHoraFin" class="p-error block">Información requerida.</small>
      </div>  
    </div>
    <div class="p-fluid p-formgrid p-grid text-color">
      <div class="p-field p-col">
        <label for="">Descripción</label>
        <textarea pInputTextarea [rows]="5" [cols]="30" [autoResize]="false" 
                  [(ngModel)]="contact.description" name="description"
                  [ngClass]="!isFieldValidDescripcion ? '':'ng-invalid ng-dirty'" 
                  maxlength="800" ></textarea>
        <small *ngIf="isFieldValidDescripcion" class="p-error block">Información requerida.</small>
      </div>  
    </div>
    <div class="p-fluid p-formgrid p-grid text-color">
      <div class="p-field p-col">
        <button pButton class="p-button-primary myBtn" type="button"
                (click)="submit()" label="Guardar" ></button>
      </div>
    </div>
  </form>
</div>
