<p-toast position="top-center" key="tc"></p-toast>
<p-breadcrumb [model]="iSubMenuHtml" [home]="home"></p-breadcrumb>

<div class="card myBg2 myCard p-mt-12"> 
  <form autocomplete="off">
    <h1 class="text-color" style="margin-top: 0;">Referir a Nutricionista</h1>

    <div class="p-fluid p-formgrid p-grid text-color">
        <div class="p-field p-col">
          <label for="">Participantes</label>
          <p-dropdown [options]="participants" optionLabel="fullName" 
                      [(ngModel)]="referredRequest.participant" name="participant" 
                      placeholder="Seleccione un Participante" 
                      [showClear]="true"
                      [ngClass]="!isFieldValidParticipants ? '':'ng-invalid ng-dirty'" ></p-dropdown>
          <small *ngIf="isFieldValidParticipants" class="p-error block">Información requerida.</small>
        </div>
        <div class="p-field p-col">
          <label for="">Nutricionista</label>
          <p-dropdown [options]="nutritionist" optionLabel="fullName" 
                      [(ngModel)]="referredRequest.nutritionist" name="nutritionist" 
                      placeholder="Seleccione un Nutricionista" 
                      [showClear]="true" 
                      [ngClass]="!isFieldValidNutritionist ? '':'ng-invalid ng-dirty'" ></p-dropdown>
          <small *ngIf="isFieldValidNutritionist" class="p-error block">Información requerida.</small>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid text-color">
      <div class="p-field p-col">
        <label for="">Descripción</label>
        <textarea pInputTextarea [rows]="5" [cols]="30" [autoResize]="false" 
                  [(ngModel)]="referredRequest.description" name="description" 
                  [ngClass]="!isFieldValidDescripcion ? '':'ng-invalid ng-dirty'" 
                  maxlength="800" ></textarea>
        <small *ngIf="isFieldValidDescripcion" class="p-error block">Información requerida.</small>
      </div>  
    </div>
    <div class="p-fluid p-formgrid p-grid text-color">
      <div class="p-field p-col">
        <button pButton class="p-button-primary myBtn" type="button" 
                (click)="submit()" label="Guardar" ></button>
      </div>
    </div>
  </form>
</div>